/*Homework 2*/

/* Universal Selector */
* {
  margin:0;
  padding:0;  
}

:root {
  --dark-blue: darkblue;
  --light-blue: lightblue;
  --light-sky-blue: lightskyblue;
  --alternative-text: teal;
}

img {
  width: 200px;
  height: 300px;
  object-fit: contain;
  align-self: center;
}

ul {
  padding-top: 15px;
  padding-bottom: 30px;
}

img:hover {
  transform: scale(1.2);
}
/*I also wanted this to make the 
general link go slightly higher
but it doesn't do anything but move
it further from the image. I kind of
like how it looks anyway */
portfolio {
  margin-top: 20px;
}

/*so that my image doesn't pop up */
#my-picture:hover {
  transform: none;
}

/* Element Selectors */
body {
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color:var(--light-sky-blue);
  color: var(--dark-blue);
}

h1,
h2 {
  margin: 20px;
}

h2 {
  font-size: 1.5rem
}

main {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

figure {
  display:flex;
  align-items: center;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: var(--light-sky-blue);
}

/*absolute removes you from document flow */
header {
  border-bottom: 10px solid var(--dark-blue);
}

footer {
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px lightskyblue;
  color: darkblue;    
}



section {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px var(--dark-blue);
  background-color:  var(--light-sky-blue);
}

textarea {
  vertical-align: top;
  height: 60px;
}
  
/* Class Selectors */

.justify-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#my-picture {
  border-radius: 30px;
  width: 40%;
  height: 70%;
  margin-top: 50px;
  transform: none;
  align-self: center;
}

.background {
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  transform: none;
}


.text-center {
  text-align: center;
}


.title {
  text-align: center;
}




.text-right {
  text-align: right;
  font-size: 2rem;
}

article {
  display: flex;
}

.projects {
  display: flex;
  align-self: center;
  width: 70%;
}

.background {
  align-self: center;
}

/* Not a part of homework

.OMFGDOGS.LINK {
  padding: 20px;
}

.OMFGDOGS.LINK:hover {
  color(background-image: lineargradient(to bottom right,red,orange,yellow,green,blue,violet))
} */

/* ID Selectors */

/* can't fix the size of the container 
but will come back to this
#first-project {
  width: 280px;
  height: 400px;
} */

/*code Jason helped me add so
that the elements wouldn't
overlap */

.card-code {
  width: 100%;
  height: auto;
  flex-direction: column;
}

/*made the image bigger */

#first-project img {
  width: 300px;
  height: 400px;
}
/*The media queries */
@media screen and (min-width: 768px) {
  /* set columns to only be 50% of the width and not grow for tablets*/
  .column {
    flex: 0 0 50%;
    max-width: 50%;
  }
/*wanted to fix the centering of this image, but it doesn't do anything */
  .background {
    margin-left: 0px;
  }
 
  /* selects the last child to grow to full width if it has space to grow */
  
  .column:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {

  .column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
/*pushed contact down so that it would look better */
#contact {
  margin-top: 30px;
}

/*for a mobile phone
doesn't work -_- */
@media screen and (max-width: 576px) and (min-width: 321px) {
  #my-picture {
    margin-top: 100px;
  }
}

@media screen and (max-width: 320px) {

  .text-right ul li {
    display: flex;
    flex-direction: column;
    font-weight: 800;
    align-items: center;
  }

  header {
    display: flex;
    border-bottom: none;
    height: auto;
    flex-direction: column-reverse;
    margin-bottom: 0px;
  }

  #my-picture {
    margin-top: 0px;
    width: 80%;
    align-self: center;
  }

  main {
    padding: 0px;
  }
}

/*so that nav links don't change purple when clicked */

header a:link { 
  text-decoration: none;
  color:var(--alternative-text);
}

header a:visited { 
  text-decoration: none;
  color:var(--alternative-text);

}

header a:hover { 
  text-decoration: none;
  color:var(--alternative-text); 
}

header a:active { 
  text-decoration: none;
  color:var(--alternative-text);
}